*{
    font-family: Arial, Helvetica, sans-serif;
}


footer{
    border-top: 1px solid black;
    margin-top: 150px;
    padding: 0;
}

pre{
    text-align: center;
}

button:hover{
    transform: scale(1.05);
}

.container{
    border-radius: 30px;
    width: 400px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: #202226;
}

.display{
    margin-top: 30px;
    border: 2px solid #831ace;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    color: white;
}

.aligned-buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 20px;
}

.not-aligned-buttons{
    margin-top: 20px;
    display: flex;
    gap: 21px;
    align-items: center;
}

.number-button,
.operation-button,
.clear-button,
.zero-button,
.dot-button{
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.operation-button,
.clear-button{
    border: 2px solid #831ace;
}

.zero-button{
    padding: 22px 27px;
}

.equal-button{
    border-radius: 10px;
    padding: 22px 72px;
    font-size: 20px;
    background-color: #831ace;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.dot-button{
    padding: 22px 29px;
}


